<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kikidinda.hitrash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HiTrash">
        <receiver android:name=".widget.MyWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_info" />
        </receiver>

        <activity android:name=".ui.payment.PaymentActivity" />
        <activity android:name=".ui.users.UsersActivity" />
        <activity android:name=".ui.editprofilemerchant.EditProfileMerchantActivity" />
        <activity android:name=".ui.MainMerchantActivity" />
        <activity android:name=".ui.scanner.ScannerActivity" />
        <activity android:name=".ui.MainAdminActivity" />
        <activity android:name=".ui.onboarding.OnboardingActivity" />
        <activity android:name=".ui.otp.OTPActivity" />
        <activity
            android:name=".ui.history.HistoryActivity"
            android:label="@string/title_activity_history"
            android:theme="@style/Theme.HiTrash.NoActionBar" />
        <activity android:name=".ui.howto.HowToActivity" />
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.splashscreen.SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />

        <service
            android:name=".service.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>